@using TechnicalTest.ViewModels;
@model ImportResultsViewModel

@{
    ViewBag.Title = "Import Your Results From a CSV File";
}

<h2>Import your Premier League results from a CSV File</h2>

@if (Model.Response != null && Model.Response.Status == FileUploadResponseStatus.Success)
{
    <div class="form-group">
        <div class="alert alert-success">
            <strong>@Model.Response.Message</strong>
        </div>
    </div>
}
else
{
    if (Model.Response != null && Model.Response.Status != FileUploadResponseStatus.Success)
    {
        <div class="form-group">
            <div class="alert alert-danger">
                <strong>@Model.Response.Message</strong>
            </div>
        </div>
    }

    <br />

    using (@Html.BeginForm("ImportResults", "Import", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();

        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md">
                    @Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.TextBoxFor(model => model.File, new { type = "file", name = "Files", accept = ".csv" })
                    @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    <input type="submit" value="Submit" class="btn btn-success">
                    <input type="reset" value="Reset" class="btn btn-danger" />
                </div>
            </div>
        </div>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}