@using RouteJs
@using WebHelpers.Mvc5.Enum
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en" />
    <meta name="google" content="notranslate" />
    <title>
        @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
        {
            @ViewBag.Title
        }

    </title>
    <link rel="shortcut icon" href="../../favicon.ico">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Pete Salsbury Tech Test">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    @Styles.Render("~/Bundles/css")
    @Styles.Render("~/Bundles/font")
</head>

<body class="hold-transition skin-blue sidebar-mini">

    @Scripts.Render("~/Bundles/jquery")

    <div class="wrapper">

        @Html.Partial("_Header")
        @Html.Partial("_Sidebar")

        <div class="content-wrapper">
            @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
            {
                <section class="content-header">
                    <h1>
                        @ViewBag.Title
                        @if (ViewBag.Description != "")
                        {
                            <small>@ViewBag.Description</small>
                        }
                    </h1>
                </section>
            }

            <section class="content">
                @RenderBody()
            </section>
        </div>
    </div>

    <script src="@RouteJsHandler.HandlerUrl"></script>
    <script src="@EnumHandler.HandlerUrl"></script>
    @Scripts.Render("~/Bundles/js")
    @RenderSection("scripts", false)
</body>
</html>